<html>
    <head>
    </head>
    <body>
    <p>Name: <%=users[0].name%> </a>  </p>
    <p>Age: <%=users[0].age%></p>
    <p>"<%=users[0].comment%>"</p>
    <p><a href="/">Back</p>
    </body>
</html>	