<html>
    <head>
    </head>
    <body>
        <form action='/mongooses' method='post'>
    		  <input type='text' name = 'name' placeholder = "name"><br>
              <input type='text' name = 'name' placeholder = "age"><br>
              <textarea name = 'comment' placeholder = "comment here"></textarea><br>
            <input type='submit'  value='Add my quote!'>
        </form>
        <form action='/' method='get'>
            <input type='submit'  value='Skip'>
        </form>
    </body>
</html>	